@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Estilo base (para móviles - Mobile First) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

:root {
    --black-primary: rgb(20, 20, 20);
    --black-secondary: rgb(29, 29, 29);
    --black-third: rgb(38, 38, 38);
    --white-primary: rgba(255, 255, 255, .1);
}

body {
    background: var(--black-primary);
}

button,
input[type="number"] {
    border: none;
    outline: none;
    text-decoration: none;
    appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* For Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

input {
    background: var(--black-third);
    padding: 10px;
    width: 100%;
    border-radius: 3px;
    box-shadow: 0 1px 10px var(--black-third);
}

.btn {
    padding: 1rem;
    font-size: 1rem;
    border-radius: 7px;
    box-shadow: 0 1px 1px var(--black-third);
    cursor: pointer;
    color: black;
    font-weight: bold;
    aspect-ratio: 2/1;
}

.btn:hover {
    filter: opacity(.8);
}

/* Resto de estilos */
body {
    display: flex;
    align-items: center;
    height: 100vh;
    padding: 10px;
}

.container {
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    background: var(--black-secondary);
    border-radius: 10px;
    padding: 1rem;
}

.container .title_container {
    font-weight: bold;
    text-align: center;
    font-size: 1.3rem;
    padding: 10px;
    border-bottom: 1px solid var(--black-third);
}

.form_container {
    width: 100%;
}

.form_container form {
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 10px;
}

.form_container label {
    width: 100%;
}

.results_container {
    text-align: center;
    padding: 1.4rem;
    font-weight: bold;
    font-size: 1.6rem;
}