:root{
    --black-primary: rgb(36, 36, 36);
    --black-light: rgb(26, 26, 26);
    --shadow: .1em 0 .2em var(--black-primary);
    --shadow-light: .1em 0 .2em var(--black-light);
}

body{
    background: rgb(31, 31, 31);
}

*{
    margin: 5px 0;
    color: white;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

.container{
    text-align: center;
    padding: 2rem;
    max-width: fit-content;
    background: var(--black-light);
    margin: 1em auto 0 auto;
    border-radius: 1em;
    box-shadow: var(--shadow);
}

.container div h1{
    filter: drop-shadow(var(--shadow-light));
}

.boton{
    border: none;
    padding: 10px;
    border-radius: .2em;
    box-shadow: var(--shadow);
    font-weight: 600;
    cursor: pointer;
    background: var(--black-primary);
    margin: 1em 0 0 0;
    
    transition: all;
    animation-duration: 600ms;
    animation-timing-function: ease-in-out;
}
.boton:hover{
    background: gray;
}